body {
	background-color: #f4f4f4;
	font-family: Helvetica, Arial, sans-serif;
}
.headline{
	background-color: white;
	border-style: solid;
    font-size: 2em;
    text-align:center;
    overflow:hidden;
    margin: 0 auto;
    margin-bottom:2%;
    width:80%;
    max-width: 1000px;
    padding-left:1%;
    padding-right:1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main{
	width:80%;
	max-width: 1000px;
	background-color: white;
	border-style: solid;
    font-size: 1.75em;
    text-align:center;
    overflow:hidden;
    margin: 0 auto;
    padding-top:1%;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blogpost{
	width:80%;
	max-width: 1000px;
	background-color: white;
	border-style: solid;
    font-size: 1.75em;
    text-align:left;
    overflow:hidden;
    margin: 0 auto;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:1%;
    padding-right:1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#myname{
	margin-bottom:0;
	display:block;
}
.marginbottom h2{
	font-size:1.5em;
	margin-bottom:0;
}
h4{
	margin-top:0;
	margin-bottom:0;
}
.navbarul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 0;
}

.navbarli {
    float: left;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: red;
}
a:active {
    color: hotpink;
}

.navbarli a {
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbarli a:hover {
    color:red;
}
.img-circle {
    border-radius: 50%;
    float:left;
    width:30%;
    height:auto;
    margin-left:1%;
    margin-top:1%;
    margin-right:1%;
    margin-bottom:1%;
}
.centered{
	text-align:center;
}
.nobullet{
	list-style-type: none;
}
.biggerfont{
	font-size:1.2em;
	font-weight:bold;
	padding-right:5px;
	padding-left:5px;
	display:inline-block;
}